@page
@model IndexModel
@{
    ViewData["Title"] = "AlzaBox Basic Operations Examples";
}
<div class="container">
    <div class="row">
        <div class="col">
            <p>This example show you how you can:</p>
            <ul>
                <li>List boxes and reservations</li>
                <li>Create reservation</li>
                <li>Cancel and extend reservation</li>
                <li>Print Click&Collect label</li>
                <li>@Model.Folder</li>
            </ul>
            <p>Learn how to use our API:</p>
            <ul>
                <li>
                    <a href="https://alzaboxapi.docs.apiary.io" target="_blank">Apiary documentation</a>
                </li>
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
</div>